@import 'bch-dc-styles';
@import '../../../variables';

section {
  margin: 20px;

  ul, li {
    display: block;
    list-style-type: none;
  }

  li {
    border: solid $color-secondary-dark 1px;
    margin-bottom: 15px;

    .body {
      padding: $left-space-box-s $left-space-box-s;
    }
  }
}
