<header>
  <div id="menu-button">
    <span class="material-symbols-outlined" (click)="menuOpened = !menuOpened">menu</span>
  </div>

  <h1 id="logo" [ngStyle]="{ width: sideMenuWidth + 'px' }">{{ title }}</h1>

  <nav [ngClass]="{ 'opened': menuOpened }">
    <ul>
      <li *ngFor="let button of buttons">
        <dc-link-button [routerLink]="button.url"
                        routerLinkActive="active"
                        (click)="selectPage(button)">{{ button.message }}
        </dc-link-button>
      </li>
    </ul>
  </nav>
</header>
