@import '../../variables';
@import '../../icons';

@include create-icon(0, 800, 0, 48) {
  margin-right: 10px;
  color: $error-red;
  font-size: 40px;
}

#error-description {
  display: flex;
  align-items: center;
  text-align: justify;
}

#error-message {
  margin-top: 10px;
  width: 100%;
  text-align: right;
  color: $grey-text;
  font-size: $small-text-font-size;
}
