@import '../../../../../../variables';

.material-symbols-outlined {
  margin-right: 10px;
  color: $error-red;
  font-size: 40px;
  font-variation-settings:
    'FILL' 0,
    'wght' 800,
    'GRAD' 0,
    'opsz' 48
}

#error-description {
  display: flex;
  align-items: center;
  text-align: justify;
}

#error-message {
  margin-top: 10px;
  width: 100%;
  text-align: right;
  color: $grey-text;
  font-size: $tiny-text-font-size;
}
