<div id="backdrop"></div>
<section>
  <header>
    <h1>{{ title }}</h1>
  </header>

  <div id="body">
    <ng-content select="[body]"></ng-content>
  </div>

  <footer>
    <div class="custom-buttons"
         [ngClass]="{ 'align-right': customButtonsAlignRight }">
      <ng-content select="[footer]"></ng-content>
    </div>
    <bch-dc-button [message]="closeButtonMessage"
                   [colorMode]="colorModes.PRIMARY_DARK"
                   (click)="closeSelected()">
    </bch-dc-button>
  </footer>
</section>
