<div [formGroup]="otherWordForm">
  <h2>Word</h2>

  <div class="content row row-3">
    <bch-dc-input [attr.class]="otherColClasses"
                  [value]="otherWordForm.get('wordType').value"
                  [inputDisabled]="true"
                  type="text"
                  idForLabel="name"
                  labelMessage="Type"></bch-dc-input>

    <bch-dc-input [attr.class]="otherColClasses"
                  type="text"
                  idForLabel="name"
                  labelMessage="Name"
                  formControlName="name"></bch-dc-input>

    <bch-dc-input [attr.class]="otherColClasses"
                  type="text"
                  labelMessage="Pronunciation"
                  idForLabel="pronunciation"
                  formControlName="pronunciation"></bch-dc-input>
  </div>
</div>
