@import './library-styles';
@import '../../variables';

@mixin buttons {
  width: inherit;

  a, button {
    @include clean-button;

    width: inherit;
    padding: 0 20px;
    display: block;
    text-align: center;
    font-size: $h2-font-size;
    color: $dark-blue;
    height: 100%;
    background-color: $medium-violet;
    transition: background-color ease-out .5s;

    &.active {
      background-color: $white-text;
    }

    &:hover {
      background-color: $dark-violet;
      color: $white-text;
    }
  }
}
