@import 'bch-dc-styles';

#word-type-select-container {
  margin-bottom: 10px;
}

h2 {
  color: $color-primary-dark;
  margin-bottom: 10px
}

h3 {
  color: $color-primary-medium;
  margin-bottom: 7px;
}
