@import '../library-styles';
@import '../../../variables';
@import '../../../icons';

:host {
  display: block;

  button {
    @include clean-button;

    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: solid $dark-violet 1px;
    background-color: $medium-violet;
  }

  @include create-icon(1, 200, 0, 40) {
    margin-top: 3px;
    color: $dark-violet;
  }
}
