@import '../breakpoints';

app-header {
  position: relative;
  z-index: 1001;
}

#container {
  display: flex;

  @include breakpoint-mobile {
    display: block;
  }

  #content-container {
    width: 100%;
    z-index: 1;

    @include breakpoint-mobile {
      position: absolute;
    }
  }
}
