<div [formGroup]="nounForm">
  <h2>Word</h2>

  <div class="content row row-6">
    <bch-dc-input [attr.class]="nounColClasses"
                  [value]="nounForm.get('wordType').value"
                  [inputDisabled]="true"
                  type="text"
                  idForLabel="name"
                  labelMessage="Type"></bch-dc-input>

    <bch-dc-input [attr.class]="nounColClasses"
                  type="text"
                  idForLabel="name"
                  labelMessage="Name"
                  formControlName="name"></bch-dc-input>

    <bch-dc-select-buttons [attr.class]="nounColClasses"
                           labelMessage="Noun Type"
                           [availableValues]="allTypes"
                           [buttonMessages]="allTypeShortcuts"
                           formControlName="nounTypes"></bch-dc-select-buttons>

    <bch-dc-input [attr.class]="nounColClasses"
                  type="text"
                  labelMessage="Pronunciation"
                  idForLabel="pronunciation"
                  formControlName="pronunciation"></bch-dc-input>

    <bch-dc-input [attr.class]="nounColClasses"
                  type="text"
                  labelMessage="Plural form"
                  idForLabel="pluralForm"
                  formControlName="pluralForm"></bch-dc-input>

    <bch-dc-input [attr.class]="nounColClasses"
                  type="text"
                  labelMessage="P.F. Pronunciation"
                  idForLabel="pluralFormPronunciation"
                  formControlName="pluralFormPronunciation"></bch-dc-input>
  </div>
</div>
