// Colors
$light-blue: #888ebc;
$medium-blue: #2f3a89;
$white-text: #fff;

// Sizes
$h1-font-size: 35px;
$h2-font-size: 24px;
$h3-font-size: 18px;
$text-font-size: 14px;

// Spaces
$left-space-box: 20px;
