// Colors
$light-blue: #888ebc;
$medium-blue: #2f3a89;
$dark-blue: #1a2550;
$white-text: #fff;
$grey-text: #aaa;
$medium-violet: #b479b4;
$dark-violet: #4a3248;
$shadow: #595959;
$error-red: #cb0000;

// Sizes
$h1-font-size: 35px;
$h2-font-size: 24px;
$h3-font-size: 18px;
$text-font-size: 14px;
$tiny-text-font-size: 10px;

// Spaces
$left-space-box-m: 20px;
$left-space-box-s: 10px;
$left-space-box-xs: 5px;
$text-line-height: 25px;
