@import 'styles';
@import 'bch_dc_grid';

:host {
  @include row-configuration(4);
  @include row-configuration(5);

  display: block;
  margin-top: 30px;

  ul {
    list-style-type: none;
    width: 100%;

    li {
      margin-bottom: 15px;

      .header-container {
        display: flex;
        align-items: center;
        cursor: pointer;

        h3 {
          margin-bottom: 0;
        }

        .close-icon {
          margin-left: 5px;
          background-color: $color-error-red;
          width: 20px;
          height: 20px;
          border-radius: 10px;
        }

        margin-bottom: 7px;
      }
    }
  }
}
