@import 'grid_old';

$bottom-space: 15px;

:host {
  @include row-configuration(1);
}

form {
  overflow: hidden;
  padding-bottom: $bottom-space;

  #buttons-container {
    float: right;
    margin-top: $bottom-space;
  }

  bch-dc-icon {
    float: left;
    margin-top: $bottom-space;
    cursor: pointer;
  }
}
