@import 'bch-dc-styles';

fieldset {
  margin-bottom: 30px;
  padding: 10px 20px 20px;
  border: solid $color-primary-light 1px;
  display: flex;

  bch-dc-input {
    width: 100%;
  }

  legend {
    font-size: $font-size-header-second;
    padding: 0 10px;
    color: $color-primary-medium;
  }

  ul {
    list-style-type: none;
    width: 100%;

    li {
      display: flex;
    }
  }
}
