<form *ngIf="addWordForm" [formGroup]="addWordForm" (ngSubmit)="addWord()">
  <fieldset>
    <legend>Word</legend>

    <bch-dc-input type="text"
                  idForLabel="name"
                  labelMessage="Name"
                  formControlName="name"></bch-dc-input>

    <bch-dc-input *ngIf="editedWord.wordType === wordTypes.VERB"
                  type="text"
                  idForLabel="verbTypes"
                  labelMessage="Type"
                  formControlName="verbTypes"></bch-dc-input>

    <bch-dc-input *ngIf="editedWord.wordType === wordTypes.NOUN"
                  type="text"
                  labelMessage="Type"
                  idForLabel="nounTypes"
                  formControlName="nounTypes"></bch-dc-input>

    <bch-dc-input type="text"
                  labelMessage="Pronunciation"
                  idForLabel="pronunciation"
                  formControlName="pronunciation"></bch-dc-input>

    <ng-container *ngIf="editedWord.wordType === wordTypes.VERB">
      <bch-dc-input *ngIf="addWordForm.controls.secondForm"
                    labelMessage="Second form"
                    idForLabel="secondForm"
                    formControlName="secondForm"></bch-dc-input>

      <bch-dc-input *ngIf="addWordForm.controls.secondForm"
                    labelMessage="Second form"
                    idForLabel="secondForm"
                    formControlName="secondForm"></bch-dc-input>

      <bch-dc-input *ngIf="addWordForm.controls.secondFormPronunciation"
                    labelMessage="S.F. Pronunciation"
                    idForLabel="secondFormPronunciation"
                    formControlName="secondFormPronunciation"></bch-dc-input>

      <bch-dc-input *ngIf="addWordForm.controls.thirdForm"
                    labelMessage="Third Form"
                    idForLabel="thirdForm"
                    formControlName="thirdForm"></bch-dc-input>

      <bch-dc-input *ngIf="addWordForm.controls.thirdFormPronunciation"
                    labelMessage="T.F. Pronunciation"
                    idForLabel="thirdFormPronunciation"
                    formControlName="thirdFormPronunciation"></bch-dc-input>
    </ng-container>

    <ng-container *ngIf="editedWord.wordType === wordTypes.NOUN">
      <bch-dc-input *ngIf="addWordForm.controls.pluralForm"
                    labelMessage="Plural form"
                    idForLabel="pluralForm"
                    formControlName="pluralForm"></bch-dc-input>

      <bch-dc-input *ngIf="addWordForm.controls.pluralFormPronunciation"
                    labelMessage="P.F. Pronunciation"
                    idForLabel="pluralFormPronunciation"
                    formControlName="pluralFormPronunciation"></bch-dc-input>
    </ng-container>
  </fieldset>

  <fieldset formArrayName="translations">
    <legend>Usage</legend>

    <ul>
      <li *ngFor="let translation of addWordForm.controls.translations.controls | ngIterable; let i = index" [formGroupName]="i">
        <bch-dc-input *ngIf="(translation | contextWordTypeTransactionType).controls.contextWordType"
                      labelMessage="Context Word Type"
                      idForLabel="contextWordType"
                      formControlName="contextWordType"></bch-dc-input>

        <bch-dc-input *ngIf="translation.controls.useCase"
                      labelMessage="Use Case"
                      idForLabel="useCase"
                      formControlName="useCase"></bch-dc-input>

        <bch-dc-input labelMessage="Context"
                      idForLabel="context"
                      formControlName="context"></bch-dc-input>

        <bch-dc-input labelMessage="Translation"
                      idForLabel="translation"
                      formControlName="translation"></bch-dc-input>

        <bch-dc-input *ngIf="translation.controls.synonyms"
                      labelMessage="Synonyms"
                      idForLabel="synonyms"
                      formControlName="synonyms"></bch-dc-input>
      </li>
    </ul>
  </fieldset>

  <button type="submit">Submit</button>
</form>
