<form *ngIf="verbWithTranslationsForm || nounWithTranslationsForm || otherWordWithTranslationsForm as wordWithTranslationsForm"
      [formGroup]="wordWithTranslationsForm"
      (ngSubmit)="addWord()">

  <app-add-word-verb *ngIf="editedWord.wordType === wordTypes.VERB"
                     [verbForm]="verbFormGroup"
                     formGroupName="verbDataForm"></app-add-word-verb>
  <app-add-word-noun *ngIf="editedWord.wordType === wordTypes.NOUN"
                     [nounForm]="nounFormGroup"
                     formGroupName="nounDataForm"></app-add-word-noun>
  <app-add-word-other *ngIf="editedWord.wordType === wordTypes.OTHER"
                      [otherWordForm]="otherWordFormGroup"
                      formGroupName="otherWordDataForm"></app-add-word-other>

  <app-add-word-transition *ngIf="editedWord.wordType === wordTypes.VERB"
                           [wordWithTranslationsForm]="verbWithTranslationsForm"
                           [wordType]="wordTypes.VERB"></app-add-word-transition>

  <app-add-word-transition *ngIf="editedWord.wordType === wordTypes.NOUN"
                           [wordWithTranslationsForm]="nounWithTranslationsForm"
                           [wordType]="wordTypes.NOUN"></app-add-word-transition>

  <app-add-word-transition *ngIf="editedWord.wordType === wordTypes.OTHER"
                           [wordWithTranslationsForm]="otherWordWithTranslationsForm"
                           [wordType]="wordTypes.OTHER"></app-add-word-transition>

  <div id="buttons-container">
    <bch-dc-button type="submit"
                   [message]="'Update'"
                   [colorMode]="colorModes.PRIMARY_DARK">
    </bch-dc-button>

    <bch-dc-button [message]="'Cancel'"
                   [colorMode]="colorModes.SECONDARY_DARK">
    </bch-dc-button>
  </div>
</form>
