@import '../../breakpoints';

$circle-button-margin: 10px;
$circle-button-margin-outside: 50px;

:host {
  display: block;
  z-index: 1000;
  transition: transform ease-out .2s, margin-left ease-out .2s, width ease-out .2s;

  @include breakpoint-mobile {
    position: absolute;
    width: 100%;
  }

  section {
    position: relative;
    width: inherit;
    background-color: #888fbd;
    height: 100%;

    app-circle-button {
      position: absolute;
      right: -25px;
      margin: $circle-button-margin;
      transform: rotate(180deg);
      transition: transform 1s ease-out;

      @include breakpoint-mobile {
        bottom: 0;
        right: 0;
        transform: rotate(270deg);
      }
    }
  }

  &.hidden {
    @include breakpoint-mobile {
      transform: translateY(-100%);
    }

    section {
      app-circle-button {
        transform: rotate(0);
        right: -$circle-button-margin-outside;

        @include breakpoint-mobile {
          right: 0;
          bottom: -$circle-button-margin-outside;
          transform: rotate(90deg);
        }
      }
    }
  }
}
